body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    padding:5 0px;
    margin: 5 0px;
    margin-top: 10px;
    

}

.navbar-brand {
    font-size: 50px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

/* Containers */

.callout-container {
    height: 500px;
    background: url('../images/boat-main.jpg') no-repeat center center;
    background-size: cover;
    margin-top: 10px;
   
    display:flex;
    align-items:center;
    justify-content:center;
}

.about-container {
    
    margin-top: 30px;
}

.about-image-container {
    margin: 0;
    padding; 0;
}
.responsive {
    max-width:100;
    width: 400px;
    height: auto;
}

.about-text {
  
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 50px;
}

.package-container {
    
    margin-top: 50px;
    height:100%;
}

.package-type {
   
    margin-bottom: 10px;
    height: 50%;
    
    }

.package-image {
    
     width:250px;
    
}

h3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    }

.package-type p {
    
        margin-top: 15px;
        margin-left:0;
        margin-right: 0;

    }

/* Buttons */

.button-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

button[type="contact"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);

}

/* Form */

.form-container {
    
    margin-top: 15px;

    padding: 20px 50px;
}

.form-header {
    
    font-family: ;
    font-weight: ;
    margin-top: 10px;
    margin-bottom: ;
    text-align: center;
}

.form-group {
  
    padding-top:10px;
    margin: 0 auto;
    max-width: 70%;

}

button[type="send"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);

}

/* Jumbotron */

.jumbotron {
    background-color:#21252933;
    padding: 50px 200px;
    margin: 80px 250px; 
   
}

.jumbotron-header {
    color:white;
    font-weight:bold;
    
    
  
}

/* Footer */

.footer-container {
   
    margin-top: 20px;
}


.copyright-container {
    
    margin-top: 20px;
    margin-bottom: 20px
}


.social-container {
   
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: right;
    margin-right: 2px;
    

}

.social-links {
    padding-bottom: 15px;
}



.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 9px;
    text-align: center;
    color: #fafafa;
    background: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #919191;
}

/* Media queries */

@media(min-width: 992px) {
    .form-group {
        
        padding-top:30px;
        margin: 0 auto;
        max-width: 70%;
        min-height:240px;
        margin: 0 auto;
        max-width: 50%;

}
}