body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
  background-color:#d5e1ec94;
    margin-top: 20px;
}

.navbar-default {
    background-color:#d5e1ec94;
}

.navbar-brand {
    font-size: 50px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

/* Containers */

.callout-container {
    height: 500px;
    background: url('../images/boat-main.jpg') no-repeat center center;
    background-size: cover;
    margin-top: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0;
}

.about-container {
    margin-top: 10px;
}

.about-heading {
    padding-top:10px;
    text-align:center; 
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.responsive {
    max-width:100%;
}

.about-text {
  padding: 15px 20px 0 0;
  margin: 0 20px;
  height:100%;
}

.package-heading {
    padding-top:10px;
    text-align:center; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.package-type {
    margin-bottom: 15px;
    height: 50%;
}

.package-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.6;
}

.package-type h3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.package-type p {
    margin:15px 10px 0 10px;
    padding-left: 0px;
}

/* Buttons */

.button-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    color:white;
    background-color:black;
}

.button-cta:hover {
    background: #919191;
}

/* Form */

.form-container {
    margin-top: 15px;
}

.form-header {
    margin-top: 10px;
    padding-top:10px;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.form-group {
    padding-top:10px;
    margin: 0 auto;
    max-width: 70%;
}

.form-button {
    margin-top: 10px;
}


/* Jumbotron */

.jumbotron {
    background-color:#21252933;
}

.jumbotron-header {
    color:white;
    font-weight:bold; 
}

/* Footer */

.footer-container {
    margin-top: 20px;
    background-color:#d5e1ec94;
    margin-bottom: 20px;
}

.copyright-container {
    text-align:center; 
}


.social-links li a i {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 9px;
    text-align: center;
    color:white;
    background: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #919191;
}


/* Media queries */

@media(min-width: 992px) {
    .form-group {
        padding-top:30px;
        margin: 0 auto;
        max-width: 70%;
        min-height:240px;
}
}
