@import "https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Raleway:wght@400;900&display=swap";


body,
html {
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding: 0;

}

/* Navbar */

.navbar {
    background-color:#d5e1ec;
    padding: 0; 
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
}

.navbar-brand {
    font-size: 50px;
    padding:0 0 0 5px;
    font-family: 'Montserrat Subrayada', sans-serif;
}



/* Containers */

.callout-container {
    height: 90vh;
    background: url('../images/boat-hero.jpg') no-repeat center center fixed;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0;
 
    
}

.about-container {
    margin-top: 10px;
    padding-bottom: 40px;
}

.about-heading {
    text-align:center; 
    padding-top: 4.5rem;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.responsive {
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-text {
    padding: 15px 20px 0 0;
    margin: 0 20px;
    height:100%;
}

.package-heading {
    padding-top:4.5rem;
    padding-bottom:15px;
    text-align:center; 
    font-family: 'Montserrat Subrayada', sans-serif;
}

.package-type {
    margin-bottom: 15px;
    height: 50%;
}

.package-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.6;
}

.package-type h3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.package-type p {
    margin:15px 10px 0 10px;
    padding-left: 0px;
}

.bg-deck {
    height: 90vh;
    background: url('../images/deck.jpg') no-repeat center center fixed;
    background-size: cover;
    display:flex;
}

.bg-sail {
    height: 90vh;
    background: url('../images/sail.jpg') no-repeat center center fixed;
    background-size: cover;
    display:flex;
}

/* Buttons */

.btn {
    border:none;
}

.button-cta {
    border-radius: 23px;
    width: 160px;
    color:white;
    background-color:black;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

.button-cta:hover {
    background: #919191;
    outline: none;
    box-shadow: none;
}

/* Form */

.form-container {
    margin-top: 15px;
}

.form-header {
    margin-top: 3.5rem;
    padding-top:16px;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.subtext {
    font-family: 'Raleway', sans-serif;
    

}

.form-group {
    margin: 0 auto;
    max-width: 70%;
}

.form-button {
    margin-top: 25px;
    padding-bottom:15px;
}


/* Jumbotron */

.jumbotron {
    background-color:#21252933;
}

.jumbotron-header {
    color:rgb(255, 255, 255);
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
    
}

/* Footer */

.footer-container {
    margin-top: 30px;
    background-color:#d5e1ec;
   
}

.copyright-container {
    text-align:center; 
}


.social-links li a i {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 9px;
    text-align: center;
    color:white;
    background: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #919191;
}


/* Media queries */

@media(min-width: 992px) {
    .form-group {
        padding-top:30px;
        margin: 0 auto;
        max-width: 50%;
        min-height:240px;
}
}
